{% extends 'base.html' %} 
{% block title %}
  Edit User Settings
{% endblock %}

{% block content %}

<h1>Edit User Settings</h1>

<div class="form-group">
  <form method="POST">
    <!-- django commando om input token te maken -->
    {% csrf_token %}
    <!-- django shortcut om compleet formulier te maken --> 
    {{ form.as_p }}
    <button class="btn btn-secondary">Update</button>
  </form>
  <br/><br/>
  <a class="btn btn-secondary" href="{% url 'home' %}">Cancel</a>
</div>

 
{% endblock %}


